
<ion-content [fullscreen]="true">
  
<div fxLayout="column" fxLayoutAlign="center center" class="main">

  <h3>Ionic SQLite</h3>

  <h4>User Form</h4>
  <form [formGroup]="userForm" (ngSubmit)="postData()" #loginForm>

    <mat-form-field appearance="legacy">
    <mat-label>User Name</mat-label>
    <input type="text" matInput placeholder="Enter User Name" formControlName="name">
    </mat-form-field>

        <mat-form-field appearance="legacy">
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="Enter your Password" formControlName="pass">
        </mat-form-field>

        <button mat-flat-button color="primary">Submit</button>
</form>

<div class="data-table">

  <hr>

  <H2 STYLE="text-align: center;">USERS</H2>
  
  <hr>

  <table>
    <thead>
      <tr>
        <th>User Id</th>
        <th>User Name</th>
        <th>Password</th>
        <th>Actions</th>
      </tr>
    </thead>


    <span *ngIf="usersData">
      <tbody  *ngFor="let user of data">
    </span>
    <tbody #table *ngIf="!usersData">
      <td>{{user.id ? user.id : 1}}</td>
      <td>{{user.name ? user.name : "Shiv"}}</td>
      <td>{{user.pass ? user.pass : "Saikiran@9604"}}</td>
      <td fxLayout>
        <mat-icon style="color:rgb(5, 57, 153)" (click)="updateData(user.id,user)">edit</mat-icon>
        <mat-icon style="color:lightcoral" (click)="deleteData(user.id)">delete</mat-icon>
      </td>
    </tbody>
  </table>
</div>


</div>

</ion-content>
