
<ion-content [fullscreen]="true">
  
<div fxLayout="column" fxLayoutAlign="center center" class="main">

  <h3>Ionic SQLite</h3>

  <h4>User Form</h4>
  <form [formGroup]="userForm" (ngSubmit)="getFormData()">

    <mat-form-field appearance="legacy">
    <mat-label>Name</mat-label>
    <input type="text" matInput placeholder="Enter your Name" formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Age</mat-label>
      <input type="text" matInput placeholder="Enter your Age" formControlName="age">
    </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Email</mat-label>
        <input type="text" matInput placeholder="Enter your Email" formControlName="email">
      </mat-form-field>

        <mat-form-field appearance="legacy">
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="Enter your Password" formControlName="pass">
        </mat-form-field>

        <button mat-flat-button color="primary">Submit</button>
</form>

<div class="data-table" *ngIf="data.length!=0">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Age
        </th>
        <th>Email</th>
        <th>Password</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of data">
      <td>{{user.name}}</td>
      <td>{{user.age}}</td>
      <td>{{user.email}}</td>
      <td>{{user.pass}}</td>
    </tbody>
  </table>
</div>


</div>

</ion-content>
